*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
background-color: #045c84;

height: 100vh;

}
.head{
  display: flex;
  align-items: center;
}
img{
 max-width: 90px;
 max-height: 90px;
 border-radius: 20px;
 margin: 20px;
}
.text{
  color:#e6edff ;
}
.iwb{
  margin-left: 6px;
    border-bottom: 1px solid;
}

.container{
  max-width: 400px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  padding: 30px;
  background-color: #045c84;
  border-radius: 5px;
}
.container .title{
  font-size: 24px;
  margin-bottom: 25px;
  text-align: center;
  color:#e6edff;
  font-weight: 700;
  margin-right: 80px;
}
.container .form{
  width: 100%;


}
.container .form .mainInput{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #757575;
 
}
.container .form .mainLabel{
  font-size: 15px;
  font-weight: bold;
  color:#bab9c0
  
}
.container .form .mainInput .input{
  width:250px;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0 3 ease;
  color: #757575;
}
.submit{
  width:250px;
  outline: none;
  border: 1px solid #37beff;
  background-color: #37beff;
  color: #e6edff;
  font-size: 20px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0 3 ease;
}

 
 